# if you want to setup your environment for development of the pytest code,
# doing `pip install -r dev_requirements.txt` is the single thing you have to do.
# Alternatively, and perhaps more conveniently, running `python setup.py test`
# will do the same *and* run the tests, but without installing the packages on
# the system.
# Note that if you introduce a new dependency, you need to add it here and, more
# importantly, to the setup.py script so that it is taken into account when
# installing from PyPi.

-e .
pyyaml
bibtexparser>=1.0
python-dateutil
requests
configobj
beautifulsoup4
feedparser
six

# those are the additional packages required to run the tests
pyfakefs
certifi
ddt>=1.4.1
mock
pytest
